.env
__pycache__/
*.pyc
.venv/
venv/
.pytest_cache/
data/raw/*
!data/raw/aemet/.gitkeep
!data/raw/aemet/bkp/.gitkeep
!data/raw/ine/.gitkeep
!data/raw/ine/bkp/.gitkeep
data/staging/*
!data/staging/.gitkeep
data/trusted/*
!data/trusted/.gitkeep
logs/*
!logs/.gitkeep
.vscode/
.DS_Store
